#root {
  margin: 0;
  padding: 1em 2em;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid {
  gap: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  padding: 1em;
  height: calc(100dvh - 6rem);
}

.column-header {
  display: flex;
  gap: 0.5rem;
}

.colored-header {
  background: linear-gradient(
    90deg,
    rgb(255, 230, 0) 0%,
    rgba(255, 184, 0, 1) 46%,
    rgba(255, 162, 0, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
