#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  gap: 1rem;
}

section {
  border-radius: 10px;
  background-color: rgb(228, 228, 228);
  max-width: 320px;
  min-height: 800px;
  padding: 0.5em 2em;
}

section > h1 {
  text-align: left;
}

.task {
  max-height: 200px;
  overflow: auto;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 0.25em 0.75em;
}

.task h3 {
  text-align: left;
}

.task p {
  text-align: justify;
}