body {
  overflow: hidden;
}

#root {
  margin: 0;
  padding: 2em;
  min-height: 100dvh;
}

.grid {
  gap: 2rem;
  overflow-x: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(235, 236, 240);
  border-radius: 15px;
  padding: 1em;
  height: calc(100dvh - 75px);
}

.column-header {
  display: flex;
  gap: 0.5rem;
}
